:root {
  --background: #e0e5ec;
  --gray: #797d7f;
  --green: #4fab72;
  --greenSlider: #93d1a7;
  --red: #fc5151;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Oswald", sans-serif;
}
body {
  background-color: var(--background);
}

/* BARRA DE NAVEGACION */

#navbarColor {
  background: var(--green);
}

#offcanvasNavbar {
  background-color: var(--greenSlider);
}

/* BALANCE Y DINERO */
.fondoSuperior {
  height: 40vh;
  padding: 20px;
  margin: 55px 10px 0px 10px;
  
  border-radius: 0 0 10px 10px;
}
#fondoSuperior{
  background: var(--greenSlider);
}

.tituloBalance {
  font-size: 2rem;
}

.dineroDisponible {
  font-size: 3rem;
}
@media (max-width: 400px) {
  .fondoSuperior th {
    padding: 5px;
  }
}

/* CONTENIDO BALANCE */
.contenidoHome {
  padding: 10px;
  margin: 0px 2px 0px 2px;
  background-color: var(--background);
  border-radius: 10px 10px 0 0;
  box-shadow: 2px 2px 7px rgb(163, 177, 198), -2px -2px 7px rgb(163, 177, 198),
    -8px -8px 50px rgb(255, 255, 255, 0.8), 3px 3px 25px rgb(0, 0, 0, 0.6);
}

/* BARRAS DE PROGRESO */
.contenidoHome .nav-link {
  color: var(--green);
}
.progress {
  margin-top: 10px;
  margin-bottom: 2%;
}

.fondoSombreado {
  padding: 10px;
  border-radius: 10px;
  box-shadow: 9px 9px 10px rgb(163, 177, 198, 0.6),
    -9px -9px 16px rgb(255, 255, 255, 0.5);
}

/* ICONO AGREGAR CONTENIDO */

.addCircle {
  font-size: 40px;
  color: var(--green);
}

.circleMore {
  color: var(--green);
}

.addCircle:hover {
  transition: 0.2s;
  -moz-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  -webkit-transform: rotate(90deg);
  cursor: pointer;
} 
/* ICONO AGREGAR EGRESO*/

.minusCircle {
  font-size: 40px;
  color: var(--red);
}


.minusCircle:hover {
  transition: 0.2s;
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  -webkit-transform: rotate(180deg);
  cursor: pointer;
}




@media (max-width: 400px) {
  .movimientos th {
    font-size: 10px;
  }
  .movimientos td {
    font-size: 15px;
  }
}


/* MARCA EN COLORES LA TABLA DEPENDIENDO SI ES UN INGRESO O UN EGRESO */
#ingresoVerde{
  
  --bs-table-accent-bg: #caffbf !important;
}
#ingresoRojo {
 
  --bs-table-accent-bg: #ffadad !important;
}



#dispId{
  display: none;
}

/* 
COLORES DE LOS BOTONES PARA CAMBIAR DE COLOR BG */

.botonDosColoresRed{
  background-color: #f4a261;
  border-left: 30px solid #e76f51;
  height: 40px;
}
.botonDosColoresBlue{
  background-color: #8ecae6;
  border-left: 30px solid #219ebc;
  height: 40px;
}
.botonDosColoresYelow{
  background-color: #fcbf49;
  border-left: 30px solid #f77f00;
  height: 40px;
}
.botonDosColoresOriginal{
  background-color: #5390d9;
  border-left: 30px solid #3f37c9;
  height: 40px;
  
}
.botonDosColorGreen{
  background-color: #93d1a7;
  border-left: 30px solid #4fab72;
  height: 40px;
}

